* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  overflow: hidden;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}


.container, #nav-top, .slider {
  width: 85%;
  margin: 0 auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

#nav-top ul {
  list-style: none;
  padding: 10px 15px;
  text-align: center;
}

#nav-top li {
  display: inline-block;
}

.slider ul {
  list-style: none;
}

.slider li {
  width: 240px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.slider img {
  width: 65px;
  height: 65px;
}

.slider h1 {
  font-size: 9px;
  font-weight: normal;
  text-transform: uppercase;
}
.slider span {
  font-size: 13px;
}

.container {
  border: solid 1px grey;
  margin-top: 200px;
}


.article {
  margin: 0 auto;
  width: 1125px;
  overflow: hidden;
}


.comments {
  width: 25%;
}

.article-header ul {
  overflow: hidden;
  list-style: none;
}

.article img {
  width: 1125px;
}
.article figure {
  margin-bottom: 30px;
}

.article p.float-left {
  width: 60%;
  margin: 0 0 30px 100px;
}


.theory {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.theory img {
  float: left;
  position: absolute;
  z-index: -1;
}

.theory li {
  width: 250px;
  margin: 200px 20px 0 0;
}
