* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  overflow: hidden;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}


.container, #nav-top, .slider {
  width: 85%;
  margin: 0 auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}


#nav-top {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
#nav-top ul {
  list-style: none;
  padding: 10px 15px;
  text-align: center;
}

#nav-top li {
  display: inline-block;
  margin-right: 20px;
}

#nav-top button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

#nav-top li.float-left button {
  background: white;
  border: 1px solid grey;
}

#nav-top li.float-right button {
  background-color: #4D7B9F;
  color: white;
  border: none;
  border-radius: 3px;
}


.slider {
  border: 1px solid grey;
}

.slider ul {
  list-style: none;
}

.slider li {
  width: 240px;
  height: 75px;
  border-right: 1px solid grey;
  padding: 5px;
}

.slider img {
  width: 65px;
  height: 65px;
  margin-right: 5px;
}

.slider h1 {
  font-size: 9px;
  font-weight: normal;
  text-transform: uppercase;
}
.slider span {
  font-size: 13px;
}

.container {
  border: solid 1px grey;
  margin-top: 128px;
  padding-top: 3px;
  box-shadow: -1px 3px 5px grey;
}


.article {
  border-top: 1px solid black;
  margin: 0 auto;
  width: 1125px;
  overflow: hidden;
  padding-top: 40px;
}

.article h1 {
  text-transform: capitalize;
}
.article-header ul {
  overflow: hidden;
  list-style: none;
}

.article-header .share-icons li {
  padding: 10px;
}
.article img {
  width: 1125px;
}
.article figure {
  margin-bottom: 30px;
}
.article figcaption {
  width: 50%;
  font-size: 14px;
}
.aricle figcaption .author {
  font-size: 11px;
}

.article p.float-left {
  width: 50%;
  margin: 0 0 30px 75px;
  font-size: 17px;
  line-height: 26px;
}


.comments {
  width: 30%;
  margin-right: 25px;
}

.comments footer, .comments-header {
  font-size: 12px;
  color: #326891;
  text-transform: uppercase;
}
.comments-header {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-header {
  margin: 0;
  font-weight: bolder;
  color: black;
}
.comment-header span {
  font-size: 12px;
  color: #999;
}

.comments li {
  margin-bottom: 15px;
  font-size: 13px;
  color: #666;
}
.comments footer {
  font-size: 10px;
  margin-top: 5px;
}
.theory {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.theory img {
  float: left;
  position: absolute;
  z-index: -1;
}

.theory li {
  width: 250px;
  margin: 200px 20px 0 0;
}
