* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}


.float-left {
  float: left;
}
.float-right {
  float: right;
}


.container, #nav-top, .slider {
  background: red;
  width: 85%;
  margin: 0 auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-top ul {
  background-color: yellow;
  list-style: none;
  padding: 10px 15px;
  text-align: center;
}

#nav-top li {
  display: inline-block;
}

.slider ul {
  list-style: none;
}

.slider li {
  width: 240px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.slider img {
  width: 65px;
  height: 65px;
}

.slider h1 {
  font-size: 9px;
  font-weight: normal;
  text-transform: uppercase;
}
.slider span {
  font-size: 13px;
}


article {
  margin-top: 200px;
}
